<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Comment</th>
      <th>Processed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td>
          <% if note.photo.attached? %>
            <%= image_tag(note.photo.variant(resize_to_limit: [100, 100]), height: 100, width: 100) %>
          <% else %>
            <img src="" width="100" height="100" >
          <% end %>
        </td>
        <td><%= note.comment %></td>
        <td><%= note.processed %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
