<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @note.comment %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @note.processed %>
</p>

<p>
  <strong>Photo:</strong>
  <% if @note.photo.attached? %>
    <%= image_tag @note.photo.variant(resize_to_limit: [640,480]) %>
  <% else %>
    none
  <% end %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
